.SoftSkills-container {
  position: relative;
}

.Title-container {
  width: 100%;
  position: absolute;
  background-color: rgb(222, 239, 255);
  box-shadow: 0px 10px 10px rgba(145, 145, 145, 0.342);
}

.SoftSkills-title {
  position: relative;
  margin-left: 20px;
}

.My-skills {
  width: 100%;
  margin-top: 100px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 50%));
  justify-content: center;
}

.Skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Skill-bar {
  display: grid;
  overflow: hidden;
  width: 80%;
  height: 35px;
  border-radius: 15px;
  background-color: rgb(231, 231, 231);
}

.Skill-lvl {
  transition: width 1s;
  z-index: 2;
  overflow: hidden;
  height: 100%;
}

.Skill-lvl.Beginner {
  background: linear-gradient(
    to left top,
    rgb(252, 120, 116),
    rgb(255, 50, 43)
  );
}

.Skill-lvl.Good {
  background: linear-gradient(
    to left top,
    rgb(168, 168, 168),
    rgb(105, 105, 105)
  );
}

.Skill-lvl.Nice {
  background: linear-gradient(
    to left top,
    rgb(255, 229, 174),
    rgb(255, 241, 43)
  );
}

.Skill-lvl.Great {
  background: linear-gradient(
    to left top,
    rgb(159, 197, 255),
    rgb(70, 135, 255)
  );
}

.Skill-lvl.Excelent {
  background: linear-gradient(
    to left top,
    rgb(116, 252, 139),
    rgb(43, 255, 138) 50%
  );
}

.Skill-desc {
  place-self: center;
  text-align: center;
  z-index: 3;
  color: black;
  position: absolute;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Skill-percent {
  position: absolute;
  place-self: end;
  z-index: 4;
  margin: 0 10px 10px 0;
}
